<div class="info-page">
  <h1 style ="display:inline; margin:5px">Search for Reports</h1>
  <form class="formm"(change)="submit($event)" >
    <input class="input-form"type="text" />
    <button class="input-button"type="submit" >search</button>
  </form>
  <input type="button" value="John Lennon" (click)="showPerson1()" />
  <input type="button" value="Paul McCartney" (click)="showPerson2()" />
  <input type="button" value="Ringo Starr" (click)="showPerson3()" />
  <input type="button" value="George Harrison" (click)="showPerson4()" />
  
  <h2>department: {{ department }}</h2>
  <h2>position: {{ position }}</h2>
  <h2>firstName: {{ firstName }}</h2>
  <h2>lastName: {{ lastName }}</h2>
  <h2>NumOfReport: {{ NumOfReport }}</h2>
  <div *ngFor ="let report of directReports">
    {{report.employeeId}}
  </div>

  <input type="button" value="Show Json" (click)="showJson()" />
  <input type="button" value="hide Json" (click)="hideJson()" />
  <div class="json" *ngIf="showInfo === false; else oldold">
    <h1></h1>
  </div>
  <ng-template  #oldold>
    <p class="json">{{ emplyeeInfo }}</p>
  </ng-template>

  <ul></ul>
</div>
