<div class="page-container">
  <app-header> </app-header>
  <div class="login-info"*ngIf="getin === false; else inside">
    <div class= login-container>
      <h1 class="login-text">Welcome to<br> Employee System</h1></div>
    <!-- <input class=login-button type="button" value="Start" (click)="getInside()" /> -->
    <form class="formm"(change)="submit($event)" >
    <input class="input-form"type="text" />
    <br>
    <button class="input-button"type="submit" >Login</button>
  </form>
  <p style="text-align:center">password:12345</p>
    
  </div>
  <ng-template #inside>
  <div class="container">
    <div>
      <h1>User Info</h1>
      <input class=logout-button type="button" value="logout" (click)="getout()" />
    </div>
    
    <input type="button" value="Reports" (click)="showPage()" />
    <input type="button" value="Compensation" (click)="showPage2()" />
    <input class="closeBtn"type="button" value="Close" (click)="hidePage()" />
    <div *ngIf="showUserInfo === false; else showw">
    </div>
    <div *ngIf="showUserInfo2 === false; else showw2">
    </div>

    <ng-template #showw>
      <app-show-info></app-show-info>
    </ng-template>
    <ng-template #showw2>
      <app-show-info2></app-show-info2>
    </ng-template>
  </div>
  </ng-template>
  <app-footer></app-footer>
</div>
